body{ 
    /* background-color: aliceblue;*/
    background-image: url(https://giphy.com/gifs/code-matrix-wallpaper-A06UFEx8jxEwU);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.section1{
background-color: black;
padding: 20px;
padding-left: 50px;
color: whitesmoke;
}
.card-image-top{
    object-fit: cover;
}
.section2{
    width: 400px;
    margin-left:30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.footer{
    background-color: black;
    color: gainsboro;
    padding: 30px;
    text-align: center;
    font-weight: 100;
    font-size: large;
}
